<div ng-controller="retailController as vm">
  <div ng-cloak>
    <md-content>
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Transection">
          <md-content class="md-padding">
            <label><input type="checkbox" class="ios-switch tinyswitch" checked /><div><div></div></div></label>
            <div class="invoice-height pull-right">
              <invoice></invoice>
            </div>
          </md-content>
        </md-tab>
        <md-tab label="two">
          <md-content class="md-padding">
            <h1 class="md-display-2">Tab Two</h1>
          </md-content>
        </md-tab>
        <md-tab label="Setup">
          <md-content class="md-padding">
             <uib-accordion close-others="oneAtATime">
              <uib-accordion-group heading="Material Group">
                <div class="material-group-search">
                  <span ng-click="vm.addMaterialGroupMaterial('group')" class="material-add">
                    <i class="fa fa-plus-square-o fa-2x" aria-hidden="true"></i>
                  </span>
                  <md-input-container>
                    <label>Search</label>
                    <input type="text" ng-model="materialGroupSearch" />
                  </md-input-container>
                </div>
                <table class="table material-group-table">
                  <thead>
                    <th>Material Group Code</th>
                    <th>Material Group Description</th>
                    <th>Create Date</th>
                    <th>Operation</th>
                  </thead>
                  <tbody>
                    <tr ng-repeat="materialGroup in vm.model.materialGroups | filter : materialGroupSearch" ng-include="vm.getTemplate('group',materialGroup)">
                    </tr>
                  </tbody>
                </table>

                <script type="text/ng-template" id="display">
                  <td>{{materialGroup.groupName}}</td>
                  <td>{{materialGroup.groupDescription}}</td>
                  <td>{{materialGroup.createDate}}</td>
                  <td>
                    <button class="btn btn-xs btn-primary" ng-click="vm.editMaterialGroup('group',materialGroup)">Edit</button>
                  </td>
                </script>
                <script type="text/ng-template" id="edit">
                  <td>
                    <md-input-container>
                      <label>Material Group Name</label>
                      <input type="text" ng-model="model.selected.groupName" />
                    </md-input-container>
                  </td>
                  <td>
                    <md-input-container>
                      <label>Material Group Description</label>
                      <input type="text" ng-model="model.selected.groupDescription" />
                    </md-input-container>
                  </td>
                  <td>
                    <md-input-container>
                      <label>Create Date</label>
                      <input mdc-datetime-picker="" date="true" time="true" type="text" id="datetime" placeholder="Date" min-date="date" ng-model="model.selected.createDate" class=" md-input">
                    </md-input-container>
                  </td>
                  <td>
                    <button class="btn btn-xs btn-primary" ng-click="vm.saveMaterialGroup('group',$index)">Save</button>
                    <button class="btn btn-xs btn-warning" ng-click="vm.reset('group')">Cancel</button>
                  </td>
                </script>


              </uib-accordion-group>

              <uib-accordion-group heading="Material">
                <div class="material-group-search">
                  <span ng-click="vm.addMaterialGroupMaterial('material')" class="material-add">
                    <i class="fa fa-plus-square-o fa-2x" aria-hidden="true"></i>
                  </span>
                  <md-input-container>
                    <label>Search</label>
                    <input type="text" ng-model="materialSearch" />
                  </md-input-container>
                </div>

                <uib-accordion-group ng-repeat="materialGroup in vm.modelMaterial.materials | filter : materialSearch" heading="{{materialGroup.groupName}}->{{materialGroup.groupDescription}}">
                  <table class="table material-group-table">
                    <thead>
                      <th>Sl</th>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Stock Balance</th>
                      <th>stock In</th>
                      <th>stock Out</th>
                      <th>MRP</th>
                      <th>Operation</th>
                    </thead>
                    <tbody>
                      <tr ng-repeat="mat in materialGroup.materials | filter : materialSearch" ng-include="vm.getTemplate('material',mat)">



                      </tr>
                    </tbody>
                  </table>
                </uib-accordion-group>


                <script type="text/ng-template" id="displayMat">
                  <td>{{$index+1}}</td>
                  <td>{{mat.materialName}}</td>
                  <td>{{mat.materialDescription}}</td>
                  <td>{{mat.stockBalance}} {{mat.uom}}</td>
                  <td>{{mat.stockIn}} {{mat.uom}}</td>
                  <td>{{mat.stockOut}} {{mat.uom}}</td>
                  <td><i class="fa fa-inr" aria-hidden="true"></i>{{mat.mrp}}</td>
                  <td>
                    <button class="btn btn-xs btn-primary" ng-click="vm.editMaterialGroup('material',mat)">Edit</button>
                  </td>
                </script>
                <script type="text/ng-template" id="editMat">
                  <td>
                    <md-input-container>
                      <label>Material Code</label>
                      <input type="text" ng-model="{mat.materialName" />
                    </md-input-container>
                  </td>
                  <td>
                    <md-input-container>
                      <label>Material Description</label>
                      <input type="text" ng-model="mat.materialDescription" />
                    </md-input-container>
                  </td>
                  <td>
                    <button class="btn btn-xs btn-primary" ng-click="vm.saveMaterialGroup('material',$index)">Save</button>
                    <button class="btn btn-xs btn-warning" ng-click="reset('material')">Cancel</button>
                  </td>
                </script>


              </uib-accordion-group>

            </uib-accordion>
          </md-content>
        </md-tab>
      </md-tabs>
    </md-content>
  </div>
</div>